
@{
    ViewData["Title"] = "Display data from public network as well as private network";
}

<h3>@ViewData["Title"]</h3>
<br />
<p>Note: The front end web application invokes a backend service. The information displayed below is retrieved by the backend service</p>
<p>Note: You may choose to display information from either public network or private network</p>
<br />

<h3>@ViewData["Message"]</h3>

